<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <!-- Set SpringBoot log level to info -->
  <logger name="org.springframework.web" level="INFO"/>
  <!-- Set the webapps log level to debug -->
  <logger name="<%=packageName%>.*" level="DEBUG"/>
</configuration>
