<html xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head></head>
<body>
<div th:fragment="navbar">
    <div class="collapse" id="aboutUser">
        <div class="bg-inverse p-a-1" sec:authorize="hasRole('ROLE_USER')">
            <div class="media">
                <a class="media-left" href="#">
                    <img th:if="${current_user.image} != null" th:src="${current_user.image}"
                         alt="Profile pic." class="media-object img-profile" src="#"/>
                    <img th:if="${current_user.image} == null" th:src="@{/images/usr_default.jpg}"
                         alt="Profile pic." class="media-object img-profile" src="#"/>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Hi there <span
                            th:text="${current_user.username}">Username</span></h4>
                    <form class="form pull-xs-right" th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-sm btn-danger-outline">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <a class="navbar-brand" href="#" th:href="@{/}" th:text="${title}">Codr</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Home</a>
            </li>
        </ul>
        <form class="form-inline pull-xs-right" sec:authorize="!hasRole('ROLE_USER')" th:action="@{/login}"
              method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-success-outline">Sign in</button>
        </form>
        <ul class="nav navbar-nav pull-xs-right" sec:authorize="hasRole('ROLE_USER')" th:if="${current_user} != null">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#aboutUser">
                &#9776;
            </button>
        </ul>
    </nav>
</div>
</body>
</html>
